.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .employee-create-div {
    margin-left: 45px;
    margin-top: 30px;
  }
  .example-full-width {
    width: 100%;
  }
  
  .example-full-width:nth-last-child(5) {
    margin-bottom: 10px;
  }
  .input-cls {
    width: 60%;
    height: 30px;
    margin-bottom: 6px;
    border:none;
  }
  img{
    max-width:180px;
  }
  input[type=file]{
  padding:10px;
  }
  .button-row {
    margin-top: 60px;
    margin-left: 45px;
  }
  .btn-save{
    margin-left: 45px;
    margin-top: 20px;
    height: 30px;
    width: 60px;
    border-radius: 3px;
  }