<div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/employee']"><mat-icon>list</mat-icon></a>
</div>
<div *ngIf="employee" class = "employee-create-div">
  <input type='file' (change)="readURL($event);" *ngIf="!employee.ImageUpload" required/>
  <img id="blah" *ngIf="employee" [src] = "employee.ImageUpload" alt="your image" />
  <div><p class = "p-cls">Enter Name: </p>
  <input class = "input-cls" type="text" [(ngModel)]="employee.Name" required (keypress)="validateName($event)">
  </div>
  <hr>
  <div><p class = "p-cls">Enter Date of Birth: </p>
    <input class = "input-cls" type="date" [(ngModel)]="employee.DateOfBirth" required>
  </div>
  <hr>
  <div><p class = "p-cls">Enter Salary: </p>
    <input  class = "input-cls" type="Number" [(ngModel)]="employee.Salary" required>
  </div>
  <hr>
  <div><p class = "p-cls">Enter Skills: </p>
    <input class = "input-cls" type="text" [(ngModel)]="employee.Skills" required>
  </div>
  <hr>
</div>

<button class = "btn-save" *ngIf="!employee._id" (click)="createEmployee()">Save</button>
<button class = "btn-save" *ngIf="employee._id" (click)="updateEmployee()">Update</button>