<div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/employee-create']"><mat-icon>add</mat-icon></a>
  </div>

<div class ="search-container">
  <input type="text" [(ngModel)]="search_inp" class="text-box">
  <button class="btn-search" (click)="searchEmployee()"> Search</button>
</div>
  <br>
  <br>
  <div >
    <table *ngIf="employees" class="employee-list-table" cellspacing="0" cellpadding="0">
      <tr>
        <th>
          Employee ID
        </th>
        <th>
          Name
        </th>
      </tr>
      <tr *ngFor="let e of employees" (click)="selectEmployee(e)">
        <th>
          {{e.Employeeid}}
        </th>
        <th>
          {{e.Name}}
        </th>
      </tr>
    </table>
  </div>
