.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
  }
  
  .EmployeeId-col {
    flex: 0 0 100px !important;
    white-space: unset !important;
  }
  
  .button-row {
    margin-top: 10px;
    margin-left: 25px;
  }
  
  .search-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 25px;
    .text-box{
      //flex-grow: 1;
      height: 25px;
      padding-left: 15px;
      margin-right: 20px;
      width: 300px;
      border-radius: 3px;
    }
    .btn-search{
      height: 30px;

    }
  }
  .employee-list-table{
    border: medium;
    margin-left: 25px;
  }