.example-card {
  max-width: 750px;
  margin-left: 45px;
  margin-top: 35px;
  height: 400px;
  }
  .container{
    display: flex;
    justify-content: space-around;
    .child1{
      
    }
    .child2{
      margin-top: 130px;
      margin-left: 25px;
    }
  }
  .mat-card {
    background: #d4e7f1;
    color: #382b2b;
    .mat-card-content {
      font-size: 17px;
    }
    .mat-card-actions {
      margin-left: 357px;
      margin-top: 65px;
    }
  }
  .img-cls{
    width:210px;
    height:180px;
    margin-top: 110px;
  }
  .button-row {
    //margin: 10px 0;
    margin-top: 150px;
    margin-left: 45px;
  }