<div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/employee']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    
    <mat-card-content>
      <div class="container">
        <div class="child1">
          <img class = "img-cls" src={{employee.ImageUpload}}>
        </div>
        <div class="child2">
          <dl>
            <dt>EmployeeID:</dt>
            <dd>{{employee.Employeeid}}</dd>
            <dt>Name:</dt>
            <dd>{{employee.Name}}</dd>
            <dt>Skills:</dt>
            <dd>{{employee.Skills}}</dd>
            <dt>Salary:</dt>
            <dd>{{employee.Salary}}</dd>
            <dt>Date of Birth:</dt>
            <dd>{{employee.DateOfBirth}}</dd>
          </dl>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" [routerLink]="['/employee-create']"><mat-icon>edit</mat-icon></a>
      <a mat-raised-button color="warn" (click)="deleteEmployee(employee._id)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
