/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.employee-list-table{
    border-collapse: collapse;
    
}

.employee-list-table td, .employee-list-table th{
    padding: 5px;
    border: 1px solid #ddd;
}
